.big-button {
  -fx-background-color: #338AEE;
  -fx-text-fill: black;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-pref-width: 170px;
  -fx-pref-height: 50px;
  -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 4);
}

.big-button:hover {
  -fx-background-color: #2a7bd5;
  -fx-cursor: hand;
}
.input {
  -fx-background-color: #F3F3F3;
  -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 2);
  -fx-padding: 0 0 0 20px;
  -fx-pref-height: 30px;
}