.button{
    -fx-background-color: #338AEE;
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 4);

}
.button:hover {
    -fx-cursor: hand;
}
.input{
    -fx-background-color: #F3F3F3;
    -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 2);
    -fx-padding: 0 0 0 20px;
    -fx-pref-height: 30px;
}
.link{
    -fx-font-weight: bold;
    -fx-text-fill: #007ADE;
    -fx-font-size: 10px;
}
.date-picker{
    -fx-control-inner-background: #F3F3F3;
    -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 2);
    -fx-pref-height: 30px;
    -fx-background-color: transparent;


}
.date-picker .text-field {
    -fx-padding: 0 0 0 20px;
}

.date-picker > .arrow-button {
    -fx-background-image: url("/icons/date.png");
    -fx-background-size: 70% 70%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-insets: 1;
    -fx-padding: 0 10px 0 10px;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: transparent;
}

