.button{
    -fx-background-color: #338AEE;
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);

}
.input{
    -fx-background-color: #F3F3F3;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 0, 4, 4, 0);
    -fx-padding: 0 0 0 20px;
    -fx-pref-height: 30px;
}
.link{
    -fx-font-weight: bold;
    -fx-text-fill: #007ADE;
    -fx-font-size: 10px;
}

