 .button {
    -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 2);
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -fx-background-color: #fff;
    -fx-text-fill: black;
    -fx-text-weight: bold;
}
.button:hover {
    -fx-cursor: hand;
}
.big-button{
    -fx-background-color: #338AEE;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 4);
}
.big-button:hover {
    -fx-background-color: #2a7bd5;
    -fx-cursor: hand;
}
.big-button:pressed {
    -fx-background-color: #1f5fa3;
}
.input{
    -fx-background-color: #F3F3F3;
    -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 2);
    -fx-padding: 0 0 0 20px;
    -fx-pref-height: 30px;
}
.card {
    -fx-background-color: #f2f2f2;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 4);
    -fx-background-radius: 10px;
}
.contact-text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 15 10 15; /* neat spacing inside */
}
.contact-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-padding: 20;
    -fx-pref-width: 360px;
    -fx-pref-height: 70px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.15), 8, 0.3, 0, 3);
}
.contact-button:hover {
    -fx-background-color: #f5f9ff;
    -fx-cursor: hand;
}
.contact-button:pressed {
    -fx-background-color: #e0eaff;
}