.card {
    -fx-background-color: #f2f2f2;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 4);
    -fx-background-radius: 10px;
}
.button {
    -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 2);
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -fx-background-color: #fff;
    -fx-text-fill: black;
    -fx-text-weight: bold;
}
.button:hover {
    -fx-cursor: hand;
}
