name: Check code

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: java
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        cache: maven
    - name: build
      run: mvn package
