name: Integration Test

on: [push, pull_request]

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-compose-action@v1
    - name: java
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'microsoft'
        cache: maven
    - name: start db
      run: docker compose up
    - name: test
      run: mvn integration-test -d
