name: Check code

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: java
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'microsoft'
        cache: maven
    - name: test
      run: mvn test
